%% -*- mode: erlang -*-

%% accept R15B02.., any R16B except R16B03
%% also accept OTP v17, altough it may not work properly on that release yet..
{require_otp_vsn, "18"}.

{erl_opts, [debug_info]}.
{yrl_opts, [{includefile, "include/erlydtl_preparser.hrl"}]}.


{profiles,
 [{test,
   [{pre_hooks,
     [{eunit, "erlc -I include/erlydtl_preparser.hrl -o test test/erlydtl_extension_testparser.yrl"}
     ]}]}]}.

{dialyzer,
 [
  {warnings, [underspecs, unmatched_returns, race_conditions, error_handling]}
 ]}.
